@charset "utf-8";
/* CSS Document */

#content img {
    padding-left: px;
}
ul li p {
    text-align: justify;
    font-family: "Montserrat Black";
}

ul li p {
    text-align: justify;
    font-family: "Montserrat Black";
}
td #docs-internal-guid-1f91202f-7fff-15ba-3de2-c3d304237b10 p {
    padding-left: 8px;
    padding-right: 8px;
    text-align: justify;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

#docs-internal-guid-1f91202f-7fff-15ba-3de2-c3d304237b10 ul li {
    font-family: "Montserrat Black";
    padding-left: 23%;
}

#docs-internal-guid-9242a2d0-7fff-f0b4-82df-0a3292cd1f ul li {
    margin-left: 35%;
    font-family: "Montserrat Black";
    padding-left: 0px;
}

td p #docs-internal-guid-be037034-7fff-780a-e3b2-a319dc8f3e6e {
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
td p #docs-internal-guid-3652f2d1-7fff-65d0-8059-49493c6be393 {
    padding-left: 8px;
    padding-right: 8px;
    text-align: justify;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
td #docs-internal-guid-19703457-7fff-bd1a-a608-7f598c339d52 p {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
}
ul li p {
    margin-left: 35%;
    font-family: "Montserrat Black";
    text-align: center;
    padding-left: 35%;
}
td #docs-internal-guid-48a8d83e-7fff-6f28-085d-2f4b696c p {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
}
td #docs-internal-guid-9242a2d0-7fff-f0b4-82df-0a3292cd1f p {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
}
#docs-internal-guid-b7fb5aa3-7fff-0a61-c997-e5170306a ul li {
    padding-left: 20%;
    font-family: "Montserrat Black";
}
td #docs-internal-guid-b7fb5aa3-7fff-0a61-c997-e5170306a p {
    padding-left: 8px;
    padding-right: 8px;
    text-align: justify;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#docs-internal-guid-3d2df8eb-7fff-537f-54fd-cfb7e3e88f2f2 ul li {
    padding-left: 23%;
    font-family: "Montserrat Black";
}
td #docs-internal-guid-3d2df8eb-7fff-537f-54fd-cfb7e3e88f2f2 p {
    text-align: justify;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    padding-left: 8px;
    padding-right: 8px;
}
#docs-internal-guid-8699dfa6-7fff-b20a-51dd-705c0dc2cb7c4 ul li {
    padding-left: 23%;
    font-family: "Montserrat Black";
}
td #docs-internal-guid-8699dfa6-7fff-b20a-51dd-705c0dc2cb7c4 p {
    text-align: justify;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    padding-left: 8px;
    padding-right: 8px;
}
ul li p {
    font-family: "Montserrat Black";
}
#docs-internal-guid-b7fb5aa3-7fff-0a61-c997-e5170306a ul li {
    padding-left: 23%;
}
